* {
    box-sizing: border-box;
}

body, html{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: rgba(164, 164, 224, 0.87);
    position: relative;
}

.middle-container {
    margin-bottom: 50px;
}

.welcome {
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
    color: rgba(88, 88, 192, 0.87);
}

.name {
    text-align: center;
    padding: 30px 0;
    font-size: 1.5rem;
    color: rgba(88, 88, 192, 0.87);
    font-family: 'Montserrat', sans-serif;
}

.top-cloud {
    position: absolute;
    top: 20px;
    right: 50px;
}

.bottom-cloud {
    position: absolute;
    bottom:150px;
    left:70px;
}

.computer {
    width: 30%;
    margin: auto;
}

/* Styling the middle container */

.middle-container {
    margin: 70px auto;
}

.middle-profile-pic {
    margin: 0px 0px 70px;
}

.hello {
    font-family:'Montserrat', sans-serif;
    color: rgba(88, 88, 192, 0.87);
    font-size: 2.5rem;
}

.desc {
    width: 30%;
    margin: 0 auto;
    padding: 0px 0px 50px;
}

.hrule {
    border: 6px dotted rgba(88, 88, 192, 0.87);
    border-bottom: none;
    width: 50px;

    
}

.skills {
    padding-top: 50px ;
    width: 50%;
    margin: 0 auto;
}

.myskills {
    font-family:'Montserrat', sans-serif;
    color: rgba(88, 88, 192, 0.87);
    font-size: 2.5rem;
    padding: 30px 0px 20px;
}

.skill1 {
    margin-bottom: 120px;
}

.skills-image1 {
        width: 25%;
        float: left;
        margin-right: 30px;
}

.skills-image2{ 
        width: 25%;
        border-radius: 50%;
        float: right;

}

.title {
    text-align: left;

}

.titledesc {
    text-align: left;
    line-height: 2.5;

}

.contact {
    margin: 60px 0;
}

.contatc-msg {
    font-family:'Montserrat', sans-serif;
    color: rgba(88, 88, 192, 0.87);
    font-size: 3rem;
    padding: 30px 0px 20px;
}

h4 {
    font-family:'Montserrat', sans-serif;
    color: rgba(88, 88, 192, 0.87);
    font-size: 1.2rem;
    font-weight: bold;
}

.emailadd{
    font-family:'Montserrat', sans-serif;
    color: rgba(88, 88, 192, 0.87);
    font-size: 0.75rem;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0; 
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border : none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }




























/* .middle-profile {
    margin-top: 70px;
}

.hello {
    text-align: center;
    padding-top: 30px;
    font-size: 2.5rem;
    color: rgba(88, 88, 192, 0.87);
    font-family: 'Montserrat', sans-serif;
}

.desc {
    width: 30%;
    margin: 30px auto 90px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 100;
}

.hrule {
    border: 10px dotted rgba(88, 88, 192, 0.87);
    border-bottom: none;  
    width: 70px; 
    margin: 100px auto;
}

.skills {
    margin-bottom: 10px;;
}

.myskills {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(88, 88, 192, 0.87);
    font-family: 'Montserrat', sans-serif;
}
.skills-row {
    width: 50%;
    margin: 0 auto 100px auto;
    text-align: left;
    line-height: 2;
} 

.skills-image1 {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.skills-image2 {
    width: 25%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}

.contact-me {
    color: rgba(88, 88, 192, 0.87);
}

h2 {
    color:  rgba(88, 88, 192, 0.87);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 20px;
}

h4 {
    padding-bottom: 20px;;
}

.contact-message{
    padding-bottom: 20px;
}

a{
    font-family: 'Montserrat', sans-serif;

}

.btn {
    color: rgba(88, 88, 192, 0.87); 
}

.bottom-container {
    width: 100%;
    background-color:  rgba(88, 88, 192, 0.87);
    padding: 50px 0 20px;;
}

.link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.link:hover {
    color: rgba(16, 16, 233, 0.87); 
}

.copyright {
    color:rgba(3, 3, 49, 0.87); 
    padding: 20px 0;
    font-size: 0.9rem;
    
        
} */
