body {
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  padding: 0px;
}

p {
  font-size: 18px;
}

/* .card {
  width: 500px;
  height: 250px;
  padding: 20px 80px;
  background-color: aquamarine;
  border-radius: 8px;
  transition: all 0.5s;
  clip-path: circle(6.9% at 91% 15%);
}

.card:hover {
  clip-path: circle(89.8% at 63% 53%);
} */

.info {
  width: 400px;
  height: 200px;
  background-color: aquamarine;
  padding: 20px 60px;
  clip-path: circle(7% at 90% 12%);
  transition: all 0.5s;
  border-radius: 10px;
}

.info:hover {
  clip-path: circle(125.9% at 90% 12%);
}
